body{
    background-color: rgb(141, 110, 69);
    font-style: oblique;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: double;
    border-color: rgb(255, 254, 255);
}
h1{
    text-align: center;
    text-decoration: dotted;
    background-size: 5px;
    background-color: whitesmoke;
    color: teal;
}