body{
    background-color: rgb(61, 128, 97);
    font-style: oblique;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: double;
    border-color: rgb(255, 254, 255);
    
}
h1{
    text-align: center;
    color: teal;
    border: 20px;
    border-style: dashed;
}

img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}